  @model Guid

    <div class="text-center">
        <h1 class="display-4">I'm a Graph Drawer</h1>
        <img src="/Graph/NewGraph?name=@Model" class="image-tests" align="middle" alt="Косяк" />
        <br />
        <br />
        <form method="post" action="~/Graph/Save?name=@Model">
            <input type="submit" value="Save" />
        </form>
        <br />
        <form method="post" action="~/Email/Send?name=@Model">
            <input type="submit" value="Send to email" />
        </form>
    </div>