@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Улица Пушкна 
    дом колотушкина
    Челяба
</address>

<address>
    <strong>Support:</strong> <a href="mailto:stremnye.graphiki@gmail.com">stremnye.graphiki@gmail.com</a><br />
    <strong>Instagram</strong> <a href="https://www.instagram.com/volkovalexandra11/">volkovalexandra11</a>
</address>
