<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
</head>
<body>
<h3>
    <br/>
    <strong>Where expressions: </strong> 2 * x + t where t = 5/x <br/>
    <strong>Multiplication: </strong> a * b <br/>
    <strong>Absolute value: </strong> abs(a) <br/>
</h3>
</body>
</html>