<h1 class="display-4">I'm a Graph Drawer</h1>

<button onclick="location.href='@Url.Action("ByFunction", "Home")'">By Function</button>
<button onclick="location.href='@Url.Action("ByPoints", "Home")'">By Points</button>