<div class="text-center">
    <h1 class="display-4">I'm a very stupid Graph Drawer</h1>
    <form method="post" action="~/Home/SendMail">
        <p>
            <input type="text" name="email1" placeholder="Вводи свой email"/>
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</div>