@page
@model WebApplication2.Views.Home.Test

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Test</h1>
    
</div>
</body>
</html>